<div class="col-md-12">
  <h2 class="text-center">
    Deep link reports
  </h2>
  <p class="text-center">Only failed parsing urls are reported and ordered by JS version and count.</p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let deeplinkReport of deeplinkReports">
      <td *ngFor="let column of columns; let idx=index">
        <span *ngIf="idx == 1" class="min-client-id-width">
          <button type="button" class="btn btn-secondary" title="Package name: {{deeplinkReport[column]}}">{{packageNameFromId(deeplinkReport[column])}}</button>
        </span>
        <span *ngIf="idx == 5">
          <a href="{{deeplinkReport[column]}}" target="_blank">{{deeplinkReport[column]}}</a>
        </span>
        <span *ngIf="idx != 1 && idx != 5 ">
          {{deeplinkReport[column]}}
        </span>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteDeeplinkReport(deeplinkReport)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
