<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Pfff - Admin</h1>

      <br />
      <button class="btn btn-light btn-sm float-end" onclick="window.location.href='/logout'">Logout</button>
      <br />

      <div class="row">
        <div class="col text-center">
          <a routerLink="/updates" class="btn btn-primary">Update alerts</a>
        </div>
        <div class="col text-center">
          <a routerLink="/deeplink" class="btn btn-primary">Deep links</a>
        </div>
      </div>

      <br />
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
