<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Push stuff</title>
</head>
<body>
<form th:action="@{/whatisnew/admin}" method="post">
    <input type="submit" value="Submit"/><br/>
    <ul>
        <li>Version:
            <input type="text" name="version"></input>
        </li>
        <li>
            Package:
            <input type="text" name="package"></input>
        </li>
        <input type="hidden"
               name="${_csrf.parameterName}"
               value="${_csrf.token}"/>
    </ul>
    <textarea name="text" cols="200" rows="50"></textarea>
    <input type="submit" value="Submit"/><br/>
</form>
</body>
</html>