<div class="col-md-12">
  <h2 class="text-center">
    Updates
  </h2>
  <p class="text-center">Recommended update or mandatory update messages displayed at application launch.</p>
  <p class="text-center"><a routerLink="/add_update" class="btn btn-success col-2">Add an update</a></p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let update of updates">
      <td *ngFor="let col of columns">
        {{update[col]}}
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteUpdate(update)">Delete Update</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
